@media screen {

    .nav-link {
        color: black;
    }

    h1 {
        font-size: 2em;
        text-align: left;
        color: greenyellow;
    }

    h2{
        text-align: center;
    }

    details{
        text-align: left;
        color: greenyellow;
    }

    header, main{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding-bottom: 10px;
    }

    section, article{
        text-align: justify;
    }

    body{
        background-color: black;
        font-family: 'Quicksand';
    }

    footer{
        background-color: greenyellow;
        color: black;
        width: 100%;
    }

    table {
        caption-side: top;
    }

    summary {
        display:unset;
        cursor: unset;
        padding-top: 10px;
    }

    caption{
        color: white;
        text-align: center;
        font-weight: bold;
    }

    aside{
        background-color: crimson;
        color:white;
        font-style: italic;
        text-align: center;
    }

    form{
        margin-top: 1em;
        border: 1px solid greenyellow;
        padding: 1em
    }

    p{
        margin-bottom: auto;
    }

    a{
        color: white;
    }

    .p-form{
        margin-top: 1em;
        font-size: 1em;
        font-weight: bold;
        text-decoration: overline;
    }

    .kep {
        width: 20em; 
        padding-left: 20px;
        float: right;
    }

    figure{
        margin: unset;
    }

    .td-foot{
        border-left: 2px solid black;
        border-right: 2px solid black;
        text-align: left;
        vertical-align: text-top;
    }

    .td-foot:first-child{
        border-left: none;
    }

    .td-foot:last-child{
        border-right: none;
    }

    .th-foot{
        text-align: center;
        width: 20%;
    }

    .galleria{
        text-align: center;
        padding: 2px;
        width: auto;
    }

    .veszely-tabla{
        background-color: rgb(44, 44, 44);
        width: 100%;
        height: auto;
        text-align: center;
        border: 2px solid;
        border-color: white;
    }

    .veszely-th{
        color: black;
    }

    .veszely-td{
        border: 2px solid white;
    }

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-control-prev:focus,
    .carousel-control-next:focus {
    opacity: 0.0;
    }
    .carousel-control-prev:hover,
    .carousel-control-next:hover{
    opacity: 1;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: yellowgreen;
        background-blend-mode: lighten;
    }

    .esemeny{
        color: black;
        background-color: greenyellow;
    }

    .inactive{
        color: grey;
        padding-left: 10px;
    }

    .table-foot{
        width: 100%;
    }

    .a-footer{
        color: black;
        text-decoration: unset;
    }

    article{
        height: 15em;
    }

    #teszteredmeny{
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
    }

    #menu{
        background-color: greenyellow;
    }

    .nav-link.disabled{
        color:#5200D0;
        font-weight: bold;
    }

    .banner{
        max-width: 50%;
        background-image: url('media/banner_background.gif');
    }

    .copyright{
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hyper-link:visited{
        color: turquoise;
    }

    .hide{
        position: absolute;
        left: -200px;
    }

    video{
        width: 100%;
    }

    .veszely-elso-sor{
        background-color: greenyellow;
    }

    #szoveg{
        width: 15em; 
        height: 10em;
    }

    .carousel-item{
        height: 30em;
    }

}

@media print{
    header, footer{
        display: none;
    }

    body{
        background-color: white;
        color: black;
        margin: 0;
        font-family:'Times New Roman', Times, serif;
    }

    h1{
        color: black;
    }

    .carousel-item{
        display: unset;
        margin-right: unset;
    }
}